
h5 a{
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.card-row {
  display: contents;
}

.card {
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.flip-card {
  background-color: transparent;
  width: 20vw;
  height: 20vw;
  perspective: 1000px;
  margin: 10px 5px;
  font-size: 1.5vw;
}

.flip-card-inner {
  position: relative;
  width: 20vw;
  height: 20vw;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.flip-image {
  width: 17vw;
  height: 17vw;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid rgb(73, 132, 180);
  background-image: linear-gradient(
    to bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -o-linear-gradient(
    to bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
}

.flip-card-front {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flip-card-back h3 {
  font-family: "Orbitron", sans-serif;
}

.flip-card-back a {
  color: blue;
  transition: all 500ms ease;
}

.flip-card-back a:hover, h5 a:hover {
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.flip-card-back h2 {
  font-size: 3vw;
}

.flip-card-desc {
  display: none;
}

.card-youtube-icon {
  margin-right: 10px;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .lead {
    padding: 0;
  }

  .flip-card:hover .flip-card-inner {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .flip-card-desc {
    display: block;
    text-align: center;
  }

  h5 {
    font-size: 1.1em;
  }
  .click-desc {
    font-size: 8px;
    text-align: center;
  }
  .card-group {
    flex-direction: column;
    align-items: center;
  }
}

/* Large devices */
@media only screen and (max-width: 992px) {
  .jumboMain {
    flex-direction: column;
    text-align: center;
  }
  .rightJumbo {
    margin-top: 40px;
  }
  .rightJumbo img {
    width: 60vw;
  }
}
/* Medium devices */
@media only screen and (max-width: 768px) {
  .card-group {
    align-items: center;
    flex-direction: column;
  }
  .card {
    margin: 20px 0;
  }

  .flip-card,
  .flip-card-inner {
    width: 45vw;
    height: 45vw;
  }

  .flip-image {
    width: 35vw;
    height: 35vw;
  }

  .flip-card-back h2 {
    font-size: 5vw;
  }

  .flip-card-back p {
    font-size: 2.5vw;
  }

  h1 {
    font-size: 3rem;
  }
}
/* Small large devices */
@media only screen and (max-width: 576px) {
  .display-4 {
    font-size: 1.8rem;
  }

  .jumbotron {
    padding: 20px 0;
    margin-top: 20px;
  }

  .jumbotron p {
    font-size: 1rem;
  }

  .rightJumbo {
    margin-top: 20px;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}